* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: cornflowerblue;
}

.main {
    margin: 100px auto;
    text-align: center;
    color: #fff;

}

.card {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 10px solid gray;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: 35px auto;
    background-image: url(james\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.path {
    position: absolute;
    bottom: -50px;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    transform: rotateY(180deg);
    border: 20px solid rgb(255, 255, 255);
}

.content {
    font-family: 'Kalam', sans-serif;
    position: absolute;
    bottom: 50px;
    align-self: center;
    text-align: center;
    align-items: center;
}

.links {
    margin-top: 30px;
}

.links a {
    font-family: 'Arial', sans-serif;

    margin: 10px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
}

.links a i {
    width: 15px;
    height: 15px;
}

button {
    padding: 10px 90px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    color: cornflowerblue;
    cursor: pointer;
}