.contact {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    margin: 80px auto;

}
*{font-family: 'Kalam',sans-serif;}

body {
    background-color: #000;
}

.logo {
    margin: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url(geek.jpg);
    border-radius: 50%;
    box-shadow: 10px 10px 30px #000;
}

.contact>div:first-of-type {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: #C8A2C8;
}

.contact>div:last-of-type {
    padding: 20px 70px 70px 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: antiquewhite;
}

a {
    padding: 10px;
    font-size: 35px;
    color: darkmagenta;
}

h1 {
    color: darkmagenta;
}

p {
    color: #ad6aad;
}

button {
    color: darkmagenta;
    background-color: #C8A2C8;
    border: none;
    padding: 20px 80px;
    border-radius: 40px;
}